<template>
    <q-layout view="lHh Lpr lFf">
        <q-header class="bg-header-deluxe" elevated>
            <q-toolbar>
                <q-btn
                    aria-label="Menu"
                    dense
                    flat
                    icon="menu"
                    round
                    @click="leftDrawerOpen = !leftDrawerOpen"
                />

                <q-toolbar-title>
                    Valkyr
                </q-toolbar-title>

                <div>Quasar v{{ $q.version }}</div>
            </q-toolbar>
        </q-header>

        <q-drawer
            v-model="leftDrawerOpen"
            class="bg-gradient-deluxe"
            show-if-above
        >
            <q-img src="~assets/img.png" style="height: 150px">
                <div class="bg-transparent">
                    <q-avatar class="q-mb-sm" size="56px">
                        <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                    </q-avatar>
                    <div class="text-weight-bold">Razvan Stoenescu</div>
                    <div>@rstoenescu</div>
                </div>
            </q-img>
            <q-list bordered class="rounded-borders">
                <q-expansion-item
                    caption="John Doe"
                    expand-separator
                    icon="perm_identity"
                    label="Account settings"
                >
                    <q-card>
                        <q-card-section>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos
                            corrupti
                            commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit
                            iste
                            eveniet doloribus ullam aliquid.
                        </q-card-section>
                    </q-card>
                </q-expansion-item>

                <q-expansion-item
                    expand-separator
                    icon="signal_wifi_off"
                    label="Wifi settings"
                >
                    <q-card>
                        <q-card-section>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos
                            corrupti
                            commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit
                            iste
                            eveniet doloribus ullam aliquid.
                        </q-card-section>
                    </q-card>
                </q-expansion-item>

                <q-expansion-item
                    expand-separator
                    header-class="text-purple"
                    icon="drafts"
                    label="Drafts"
                >
                    <q-card>
                        <q-card-section>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos
                            corrupti
                            commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit
                            iste
                            eveniet doloribus ullam aliquid.
                        </q-card-section>
                    </q-card>
                </q-expansion-item>

                <q-expansion-item disable icon="assessment" label="Disabled">
                    <q-card>
                        <q-card-section>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos
                            corrupti
                            commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit
                            iste
                            eveniet doloribus ullam aliquid.
                        </q-card-section>
                    </q-card>
                </q-expansion-item>
            </q-list>
            <q-list>
                <q-item-label
                    class="text-black-8"
                    header
                >
                    Essential Links
                </q-item-label>
                <EssentialLink
                    v-for="link in essentialLinks"
                    :key="link.title"
                    v-bind="link"
                />
            </q-list>
        </q-drawer>

        <q-page-container class="bg-page-deluxe">
            <router-view/>
        </q-page-container>
    </q-layout>
</template>
<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
    {
        title: 'Order',
        caption: 'valkyr.order',
        icon: 'order',
        link: '/order'
    },
    {
        title: 'Customer',
        caption: 'valkyr.customer',
        icon: 'customer',
        link: '/customer'
    },
    {
        title: 'Warehouse',
        caption: 'valkyr.product',
        icon: 'warehouse',
        link: '/warehouse'
    },
    {
        title: 'Catalog',
        caption: 'valkyr.catalog',
        icon: 'catalog',
        link: '/catalog'
    },
];

export default {
    components: {EssentialLink},
    data() {
        return {
            leftDrawerOpen: false,
            essentialLinks: linksData,
        }
    },
}
</script>
