<template>
    <div id="q-app">
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap"
            rel="stylesheet">
        <router-view/>
    </div>
</template>
<script>
import {defineComponent} from 'vue';

export default defineComponent({
    name: 'App'
})
</script>
