// app global css in SCSS form

.bg-gradient-deluxe {
    background: linear-gradient(45deg, rgba(22, 73, 108, 0.7) 0%, rgba(32, 161, 128, 0.7) 35%, rgba(148, 228, 245, 0.7) 100%);
}

.bg-header-deluxe {
    background: linear-gradient(126deg, #17e4abd4 0%, #5e20a1d4 35%, #f59494d4 100%);
    backdrop-filter: blur(4px);
}

.bg-page-deluxe {
    background: linear-gradient(126deg, #16496c 0%, #20a180 35%, #94e4f5 100%);
    background: linear-gradient(126deg, #17e4ab 0%, #5e20a1 35%, #f59494 100%);
}

.drawer-shadow {
    box-shadow: rgb(0 0 0 / 57%) 5px 23px 19px -7px;
}
