// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #144C5D;
$secondary: #5F4579;
$accent: #EDA164;

$dark: #1D1D1D;

$positive: #8AC06D;
$negative: #FF5757;
$info: #C657FF;
$warning: #FFCC74;

$typography-font-family: 'Source Sans Pro', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default
