<template>
    <q-page padding>
        <ProductList :items="items"></ProductList>
    </q-page>
</template>

<script>
import ProductList from "components/ProductList.vue";

export default {
    components: {ProductList},
    data() {
        return {
            items: []
        }
    }
};
</script>
