<template>
    <div>
        <q-table
            v-model:pagination="pagination"
            :columns="columns"
            :loading="loading"
            :rows="items"
            :virtual-scroll-item-size="48"
            :virtual-scroll-sticky-size-start="48"
            class="height"
            row-key="id"
            virtual-scroll
            @virtual-scroll="onScroll"
        ></q-table>
        <q-pagination
            v-model="pagination.page"
            size="sm"
        />
    </div>
</template>

<script>
export default {
    data() {
        return {
            pagination: {
                page: 1,
                rowsPerPage: 50,
                rowsNumber: 0,
            },
            loading: false,
            items: [],
            columns: [
                {
                    align: 'left',
                    field: 'name',
                    name: 'name',
                    label: 'Name'
                },
                {

                    align: 'left',
                    field: row => row.associations.brand.name,
                    name: 'brand',
                    label: 'Brand'
                },
                {

                    align: 'left',
                    field: row => row.associations.categories.map(item => item.name).join(', '),
                    name: 'category',
                    label: 'Category'
                }
            ]
        };
    },
    mounted() {
        this.dataProvider();
    },
    methods: {
        dataProvider() {
            let criteria = {
                perPage: this.pagination.rowsPerPage,
                page: this.pagination.page,
                filters: [
                    {
                        type: "range",
                        field: "createdAt",
                        range: {
                            gte: "2019-09-19 11:18:36"
                        }
                    }
                ],
                includes: [
                    "id",
                    "name",
                    "sku",
                    "createdAt",
                    "brandId"
                ],
                associations: {
                    brand: {
                        includes: [
                            "id",
                            "name"
                        ]
                    },
                    categories: {
                        includes: [
                            "id",
                            "parentId",
                            "name"
                        ],
                        associations: [
                            {
                                "association": "parent",
                                "includes": [
                                    "id",
                                    "urlKey"
                                ],
                                associations: [
                                    {
                                        association: "children",
                                        includes: [
                                            "id",
                                            "parentId",
                                            "name"
                                        ],
                                        associations: []
                                    }
                                ]
                            }
                        ]
                    },
                }
            };

            this.loading = true;
            this.$axios.post('http://localhost/api/search-criteria/product', criteria).then(results => {
                this.items.push(...results.data.data);
                console.log(results);
                this.loading = false;
                this.pagination.rowsNumber = results.data.meta.total;
                this.pagination.page = results.data.meta.current_page;
            });
        },
        onScroll(test) {
            console.log(test);
            if (test.direction !== 'increase') {
                return;
            }

            if (test.index > test.to - 10) {
                this.pagination.page++;
                this.dataProvider();
            }
        }
    },
}
</script>
<style scoped>
.height {
    max-height: 100vh;
}
</style>
